*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    margin:0%;
    paddng: 0%;;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    min-height: 1oopx;
    background: linear-gradient(to right top,blue);
}
form{
    background: gray;
    width: 350px;
    height: 580px;
    padding-left: 50px;
    padding-top: 75px;
    left: 50%;
    top: 50%;
}